[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "vendor/gate"]
	path = vendor/gate
	url = https://github.com/hunter-packages/gate
[submodule "vendor/polly"]
	path = vendor/polly
	url = https://github.com/ruslo/polly
[submodule "gate"]
	path = gate
	url = https://github.com/hunter-packages/gate
[submodule "polly"]
	path = polly
	url = https://github.com/ruslo/polly
[submodule "vendor/vendor/polly"]
	path = vendor/vendor/polly
	url = https://github.com/ruslo/polly
